---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
import '@fontsource/material-symbols-outlined'
---

<Layout title='417Signs'>
 <main class='w-full max-w-[1400px] m-auto bg-bg-primary'>
  <Hero />
  <Contact />
  <Footer />
 </main>
</Layout>

<style>
 main {
  margin: auto;
  color: white;

  font-size: 20px;
  line-height: 1.6;
 }

 h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
 }
 .material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 250px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
 }
</style>
